- var brand = "Calendarlyify"

nav
    .navbar

        - if (currentUser) {

        .nav-left=brand
        .nav-right
            a(href="#")
                .nav-item=currentUser.local.email
            a(href="/logout")
                .nav-item Logout

        - } else {

        .nav-left=brand
        .nav-right
            a(href="/login")
                .nav-item Login
            a(href='/signup')
                .nav-item Signup

        - }

.flash
- if (typeof message !== 'undefined') {
- if (typeof message.error !== 'undefined' && message.error.length > 0) {
.card-panel.red.center-align
    h5(style="color:white;")= message.error
- }
- if (typeof message.info !== 'undefined' && message.info.length > 0) {
.card-panel.blue.center-align
    h5(style="color:white;")= message.info
- }
- if (typeof message.success !== 'undefined' && message.success.length > 0) {
.card-panel.green.center-align
    h5(style="color:white;")= message.success
- }
- }